In [22]:
import pandas as p
import numpy as n
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [32]:
data = p.read_csv("gender_classification.csv")
data

,long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long,gender
0,1,11.8,6.1,1,0,1,1,Male
1,0,14.0,5.4,0,0,1,0,Female
2,0,11.8,6.3,1,1,1,1,Male
3,0,14.4,6.1,0,1,1,1,Male
4,1,13.5,5.9,0,0,0,0,Female
...,...,...,...,...,...,...,...,...
4996,1,13.6,5.1,0,0,0,0,Female
4997,1,11.9,5.4,0,0,0,0,Female
4998,1,12.9,5.7,0,0,0,0,Female
4999,1,13.2,6.2,0,0,0,0,Female
5000,1,15.4,5.4,1,1,1,1,Male

In [43]:
data.head(3)
# display

,long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long,gender
0,1,11.8,6.1,1,0,1,1,Male
1,0,14.0,5.4,0,0,1,0,Female
2,0,11.8,6.3,1,1,1,1,Male

In [33]:
features = data.columns
features

Index(['long_hair', 'forehead_width_cm', 'forehead_height_cm', 'nose_wide',
       'nose_long', 'lips_thin', 'distance_nose_to_lip_long', 'gender'],
      dtype='object')

In [34]:
features = [x for x in features if x != 'gender']
features

['long_hair',
 'forehead_width_cm',
 'forehead_height_cm',
 'nose_wide',
 'nose_long',
 'lips_thin',
 'distance_nose_to_lip_long']

In [35]:
train, test = train_test_split(data, test_size = 0.4)
print(len(file))
print(len(train))
print(len(test))

5001
3000
2001

In [36]:
mlp = MLPClassifier(hidden_layer_sizes = (8,8,8),max_iter = 900, activation = 'relu')

In [38]:
x_train = train[features]
y_train = train["gender"]

x_test = test[features]
y_test = test["gender"]

In [39]:
mlp = mlp.fit(x_train, y_train)

In [40]:
y_pred = mlp.predict(x_test)

In [41]:
y_pred #These are the predicted values.

array(['Male', 'Female', 'Female', ..., 'Male', 'Male', 'Male'],
      dtype='<U6')

In [42]:
from sklearn.metrics import accuracy_score
score = accuracy_score(y_test, y_pred) * 100
print("Accuracy using desicion Tree: ", round(score, 2), "%" )

Accuracy using desicion Tree:  96.35 %